@model IEnumerable<JOB.WEB.Models.JobViewModel>

@{
    ViewBag.Title = "Cliente";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Meus Jobs</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table id="tblDados" class="table table-condensed table-responsive table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.especialidade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DT_JOB)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TITULO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OBSERVACOES)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VALOR_SUGERIDO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JOB_ACEITO)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.especialidade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DT_JOB)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TITULO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OBSERVACOES)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VALOR_SUGERIDO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JOB_ACEITO)
                        </td>
                        <td>
                            @Html.ActionLink(" ", "Edit", new { id = item.ID_JOB }, new { @class = "fa fa-edit", @title = "Editar" }) &nbsp;
                            @Html.ActionLink(" ", "DetailsJobCliente", new { id = item.ID_JOB }, new { @class = "fa fa-search", @title = "Detalhes" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#tblDados').DataTable();
    });
</script>