@model IEnumerable<JOB.WEB.Models.JobViewModel>

@{
    ViewBag.Title = "Cliente";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Meus Jobs</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-condensed table-responsive table-hover">
            <tr>
                @*<th>
            @Html.DisplayNameFor(model => model.ID_USUARIO_CLIENTE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_USUARIO_PROFISSIONAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_ESPECIALIDADE)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.especialidade)
        </th>
        <th>model
            @Html.DisplayNameFor(model => model.DT_JOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TITULO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OBSERVACOES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VALOR_SUGERIDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JOB_ACEITO)
        </th>
                <th></th>
            </tr>


            @foreach (var item in Model)
    {
            <tr>
                @*<td>
                @Html.DisplayFor(modelItem => item.ID_USUARIO_CLIENTE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_USUARIO_PROFISSIONAL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_ESPECIALIDADE)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.DT_JOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TITULO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OBSERVACOES)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VALOR_SUGERIDO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JOB_ACEITO)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID_JOB }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID_JOB }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID_JOB })
                </td>
            </tr>
    }
        </table>
    </div>
</div>