@model JOB.WEB.Models.CadastroProfissionalViewModel

@{
    ViewBag.Title = "Perfil Profissional";
    ViewBag.SubTitle = "Novo";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Crie aqui uma nova oferta de serviço para este profissional</h3>
        </div>
        <div class="box-body">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.ESPECIALIDADES, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @Html.DropDownListFor(m => m.ID_ESPECIALIDADE,
                    new SelectList(Model.ESPECIALIDADES, "ID_ESPECIALIDADE", "DESCRICAO"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ESPECIALIDADES, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RESUMO_CURRICULO, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RESUMO_CURRICULO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RESUMO_CURRICULO, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <input type="submit" value="Salvar" class="btn btn-success" />
            @Html.ActionLink("Voltar", "IndexPessoal", null, new { @class = "btn btn-default" })
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}