@model IEnumerable<JOB.WEB.Models.ProfissionalViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DESC_ESPECIALIDADE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RESUMO_CURRICULO)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DESC_ESPECIALIDADE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RESUMO_CURRICULO)
            </td>
            <td>
                @*@Html.ActionLink("Propor Job", "CriarJob", new { id = item.ID_USUARIO, ID_ESPECIALIDADE = item.ID_ESPECIALIDADE })*@
            </td>
        </tr>
    }
</table>