@model IEnumerable<JOB.WEB.Models.ProfissionalViewModel>

@{
    ViewBag.Title = "Profissionais";
    ViewBag.SubTitle = "Lista";
}

@section Menu {
    @Scripts.Render("~/Scripts/Global/Profissionais/menu")
}

<div class="box">
    <div class="box-body">
        <table id="tblDados" class="table table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NOME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DT_NASCTO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DESC_ESPECIALIDADE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RESUMO_CURRICULO)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NOME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DT_NASCTO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DESC_ESPECIALIDADE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RESUMO_CURRICULO)
                    </td>
                    <td class="text-center">
                        @Html.ActionLink(" ", "Details", "Profissional", new { id = item.ID_USUARIO }, new { @class = "btn btn-success btn-sm fa fa-eye", @title = "Ofertar Serviço para este profissional" })
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="box-footer">
        @Html.ActionLink("Voltar", "Index", "Especialidade", null, new { @class = "btn btn-default" })
    </div>
</div>