@model IEnumerable<JOB.WEB.Models.ProfissionalViewModel>

@{
    ViewBag.Title = "Profissionais";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Profissionais Cadastrados</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table id="tblDados" class="table table-condensed table-responsive table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NOME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DT_NASCTO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DESC_ESPECIALIDADE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RESUMO_CURRICULO)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NOME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DT_NASCTO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DESC_ESPECIALIDADE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RESUMO_CURRICULO)
                        </td>
                        <td>
                            @Html.ActionLink(" ", "CriarJob", new { id = item.ID_USUARIO, ID_ESPECIALIDADE = item.ID_ESPECIALIDADE }, new { @class = "fa fa-handshake-o", @title = "Propor Job" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#tblDados').DataTable();
    });
</script>