@{
    Layout = "~/Views/Shared/_LoginStart.cshtml";
}

@using JOB.WEB.Models
@model JOB.WEB.Models.LoginViewModel
<div class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="text-center">Bem vindo!</h2>
                <h4 class="text-center">Por favor, digite o seu usuário e senha.</h4>
            </div>
            <div class="modal-body">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "center-block", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-lg", @placeholder = "Username" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control  input-lg", @placeholder = "Senha" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "icheckbox_square" })
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                        <div class="form-group">
                            <div>
                                <input type="submit" value="Log in" class="btn btn-primary btn-lg btn-block" />
                            </div>
                        </div>
                        <div>
                            <span>
                                <p class="pull-right">@Html.ActionLink("Registrar uma nova conta!", "Register")</p>
                            </span>
                            <span>
                                <p>@Html.ActionLink("Esqueceu sua senha?", "ForgotPassword")</p>
                            </span>
                        </div>
                    }
                </section>
            </div>
            <div class="text-center" style="padding: 10px;">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        ConfigurarTemaIcheck();
    });

    function ConfigurarTemaIcheck() {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue'
        });
    }
</script>