@model JOB.WEB.Models.RegisterViewModel
@{
    ViewBag.Title = "Registro";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Job UP</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Styles.Render("~/Bundle/AdminLTE/bootstrap/css")
    @Styles.Render("~/Bundle/AdminLTE/plugins/font-awesome/css")
    @Styles.Render("~/Bundle/AdminLTE/plugins/ionicons/css")
    @Styles.Render("~/Bundle/AdminLTE/dist/css")
    @Styles.Render("~/Bundle/AdminLTE/plugins/icheck/css/sqare/blue")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="@Url.Action("Index", "Home")">Bem >Bem Vindo a <b>Job UP!</b></a>
        </div>
        <div class="register-box-body">
            <p class="login-box-msg">Registrar-se com um novo usuário</p>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User Name" })
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", placeholder = "Email" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", type = "password", placeholder = "Password" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", type = "password", placeholder = "Confirm Password" })
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox"> Estou de acorcom com <a href="#">terms</a>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                    </div>
                </div>
            }
            <div class="social-auth-links text-center">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                    <i class="fa fa-facebook"></i> Logar usando
                    Facebook
                </a>
                <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                    <i class="fa fa-google-plus"></i> Logar usando
                    Google+
                </a>
                <a href="@Url.Action("Login", "Account")" class="text-center">Eu já tenho uma conta</a>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/Bundle/AdminLTE/plugins/jquery/js")
    @Scripts.Render("~/Bundle/AdminLTE/bootstrap/js")
    @Scripts.Render("~/Bundle/AdminLTE/plugins/icheck/js")
    @Scripts.Render("~/Bundle/AdminLTE/plugins/jquery-validate/js")
    @Scripts.Render("~/Scripts/Account/Login")
}