@model JOB.WEB.Models.ServicoViewModel_full

@{
    ViewBag.Title = "Meus Serviços";
    ViewBag.SubTitle = "Detalhes";
}

<div class="box">
    <div class="box-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DESC_ESPECIALIDADE)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DESC_ESPECIALIDADE)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DESC_SUB_ESPECIALIDADE)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DESC_SUB_ESPECIALIDADE)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DT_CADASTRO)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DT_CADASTRO)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DS_TITULO)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DS_TITULO)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DS_OBSERVACOES)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DS_OBSERVACOES)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.VL_SUGERIDO)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.VL_SUGERIDO)
            </dd>
        </dl>
    </div>
    <div class="box-footer">
        @if (Model.POSSUI_PROPOSTA == false)
        {
            @Html.ActionLink("Aceitar", "Aceitar", new { id = Model.ID_SERVICO }, new { id = Model.ID_SERVICO, @class = "btn btn-success" })
        }
        @if (Model.POSSUI_PROPOSTA == false)
        {
            @Html.ActionLink("Rejeitar", "Rejeitar", new { id = Model.ID_SERVICO }, new { id = Model.ID_SERVICO, @class = "btn btn-danger" })
        }
        @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>