@using JOB.WEB.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Job UP</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />

    @Scripts.Render("~/Bundle/AdminLTE/plugins/jquery/js")
    @Scripts.Render("~/Bundle/AdminLTE/bootstrap/js")

    @Styles.Render("~/Bundle/AdminLTE/plugins/font-awesome/css")
    @Styles.Render("~/Bundle/AdminLTE/plugins/ionicons/css")
    @Styles.Render("~/Bundle/AdminLTE/bootstrap/css")
    @Styles.Render("~/Bundle/AdminLTE/dist/css")
    @Styles.Render("~/Bundle/AdminLTE/dist/css/skins")

    @RenderSection("head", required: false)
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="@Url.Action("Index", "Home")" class="logo">
                <span class="logo-mini">Job</span>
                <span class="logo-lg">Job UP</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @Html.Partial("_LoginPartial")
                        @*<li>
                                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                            </li>*@
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/AdminLTE/dist/img/user.svg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@User.Identity.Name</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li class="header">NAVEGAÇÃO PRINCIPAL</li>
                    <li id="left-sidebar-menu-administrador" class="treeview">
                        <a href="#">
                            <i class="fa fa-user"></i><span>Administrador</span><i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="left-sidebar-menu-administrador-usuarios"><a href="@Url.Action("Index", "Usuario")"><i class="fa fa-circle-o"></i> Usuários</a></li>
                        </ul>
                    </li>
                    <li id="left-sidebar-menu-profissionais"><a href="@Url.Action("Index", "Especialidade")"><i class="fa fa-group"></i><span>Profissionais</span></a></li>
                    <li id="left-sidebar-menu-servicos"><a href="@Url.Action("Index", "ServicoPublico")"><i class="fa fa-briefcase"></i><span>Ofertas de Serviços</span></a></li>
                </ul>
            </section>
        </aside>
        <div id="DivContentWrapper" class="content-wrapper">
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.SubTitle</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i>@ViewBag.SubTitle</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </section>
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0
            </div>
            <strong>Copyrights | Mundo UP &copy; 2017.</strong> Todos os direitos reservados.
        </footer>
    </div>

    @RenderSection("menu", required: false)
    @Scripts.Render("~/Bundle/AdminLTE/plugins/slimscroll/js")
    @Scripts.Render("~/Bundle/AdminLTE/plugins/fastclick/js")
    @Scripts.Render("~/Scripts/Shared/_Layout")
    @Scripts.Render("~/Bundle/AdminLTE/dist/js")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>