@model IEnumerable<JOB.WEB.Models.ServicoViewModel_api>

@{
    ViewBag.Title = "Ofertas de Serviços";
    ViewBag.SubTitle = "Lista";
}

@section Menu {
    @Scripts.Render("~/Scripts/Global/Servicos/menu")
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Veja as ofertas disponíveis para seu perfil profissional</h3>
    </div>
    <div class="box-body">
        <table id="tblDados" class="table table-condensed table-responsive table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NOME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DESC_ESPECIALIDADE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DESC_SUB_ESPECIALIDADE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DT_CADASTRO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DS_TITULO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TEMPO_SERVICO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VL_SUGERIDO)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NOME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DESC_ESPECIALIDADE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DESC_SUB_ESPECIALIDADE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DT_CADASTRO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DS_TITULO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TEMPO_SERVICO_DESC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VL_SUGERIDO)
                    </td>
                    <td class="text-center">
                        @Html.ActionLink(" ", "Details", new { id = item.ID_SERVICO }, new { @class = "btn btn-success btn-xs fa fa-search", title = "Clique aqui para ver os detalhes" })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#tblDados').DataTable();
    });
</script>