@model JOB.WEB.Models.UsuarioViewModel

@{
    ViewBag.Title = "Ativar Perfil de Destaque";
}


<div>
    <dl class="dl-horizontal">
        <p>
            <font size="4,5" face="Times">Deseja ter um perfil destacado dos demais? ative aqui a função de destaque, para que seu perfil tenha mais visibilidade em relação aos demais.</font>
            <br> *Ativar está ferramenta cosumirá 800 de moedas.
        </p>
        
        <p>
            <font size="4" face="Times">Informações do seu Perfil</font></p>
         <dt>
            @Html.DisplayNameFor(model => model.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RgNR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RgNR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DT_NASCIMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DT_NASCIMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERFIL_DESTAQUE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERFIL_DESTAQUE)
        </dd>        
    </dl>
</div>
<p>
@if (Model.PERFIL_DESTAQUE == false)
{
    @Html.ActionLink("Ativar", "AtivarDestaque", new { id = Model.ID_USUARIO }, new { @class = "btn btn-success" })
}
    @Html.ActionLink("Voltar", "../Home/Index", null, new { @class = "btn btn-default" })
</p>
