@model JOB.WEB.Models.UsuarioViewModel

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Usuários</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.NOME)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NOME)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CPF)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CPF)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RgNR)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RgNR)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DT_NASCIMENTO)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DT_NASCIMENTO)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.APROVADO)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.APROVADO)
                </dd>
            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID_USUARIO }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>