@model IEnumerable<JOB.WEB.Models.UsuarioViewModel>

@{
    ViewBag.Title = "Usuários";
    ViewBag.SubTitle = "Lista";
}

@section Menu {
    @Scripts.Render("~/Scripts/Administrador/Usuarios/menu")
}

<div class="box">
    <div class="box-body">
        <table id="tblDados" class="table table-condensed table-responsive table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NOME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CPF)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RgUF)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RgNR)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DT_NASCIMENTO)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.APROVADO)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.ATIVO)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.BLOQUEADO)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NOME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CPF)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RgUF)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RgNR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DT_NASCIMENTO)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.APROVADO)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.ATIVO)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.BLOQUEADO)
                        </td>
                        <td class="text-center">
                            @if (!item.APROVADO)
                            {
                                @Html.ActionLink(" ", "DtAprovar", new { id = item.ID_USUARIO }, new { @class = "btn btn-success btn-xs fa fa-check", @title = "Aprovar" })
                            }
                            @*@if (!item.ATIVO)
                            {
                                @Html.ActionLink(" ", "Ativar", new { id = item.ID_USUARIO }, new { @class = "btn btn-success btn-xs fa fa-user-plus", @title = "Ativar" })
                            }*@
                            @if (!item.BLOQUEADO)
                            {
                                @Html.ActionLink(" ", "Bloquear", new { id = item.ID_USUARIO }, new { @class = "btn btn-danger btn-xs fa fa-lock", @title = "Bloquear" })
                            }
                            else
                            {
                                @Html.ActionLink(" ", "Desbloquear", new { id = item.ID_USUARIO }, new { @class = "btn btn-default btn-xs fa fa-unlock", @title = "Desbloquear" })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#tblDados').DataTable();
    });
</script>