@model IEnumerable<JOB.WEB.Models.PropostaViewModel>

@{
    ViewBag.Title = "ListarPrroposta";
}

<h2>ListarPrroposta</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DS_TITULO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DS_OBSERVACOES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DT_PROPOSTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VALOR_DURACAO_SERVICO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VL_PROPOSTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JUSTIFICATIVA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACEITA)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DT_PROPOSTA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VALOR_DURACAO_SERVICO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VL_PROPOSTA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JUSTIFICATIVA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACEITA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DS_TITULO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DS_OBSERVACOES)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
