@model JOB.WEB.Models.UsuarioViewModel

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info">
            Seu perfil ainda não está completo. Favor preencher as informações pendentes.
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-default">
                <div class="panel-heading">
                    Dados Básicos
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.NOME, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.NOME, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NOME, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CPF, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.DT_NASCIMENTO, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.DT_NASCIMENTO, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DT_NASCIMENTO, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.RgUF, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EnumDropDownListFor(model => model.RgUF, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.RgUF, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.RgNR, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.RgNR, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RgNR, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Contato
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ContatoCELULAR, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.ContatoCELULAR, new { htmlAttributes = new { @class = "form-control", id = "txtCelular" } })
                                @Html.ValidationMessageFor(model => model.ContatoCELULAR, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.ContatoFIXO, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.ContatoFIXO, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ContatoFIXO, "", new { @class = "text-danger" })
                            </div>
                            @*@Html.LabelFor(model => model.ContatoEMAIL, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.ContatoEMAIL, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ContatoEMAIL, "", new { @class = "text-danger" })
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Endereço
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.EnderecoUF, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EnumDropDownListFor(model => model.EnderecoUF, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.EnderecoUF, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.EnderecoCIDADE, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.EnderecoCIDADE, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EnderecoCIDADE, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.EnderecoCEP, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.EnderecoCEP, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EnderecoCEP, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.EnderecoLOGRADOURO, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.EnderecoLOGRADOURO, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EnderecoLOGRADOURO, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.EnderecoBAIRRO, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.EnderecoBAIRRO, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EnderecoBAIRRO, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.EnderecoCOMPLEMENTO, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.EnderecoCOMPLEMENTO, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EnderecoCOMPLEMENTO, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-success" })
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/maskedinput")
<script src="~/Scripts/jquery.maskedinput-1.3.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#txtCelular").mask("(99) 999999999");

        });
    </script>
}