@model JOB.WEB.Models.VerifyPhoneNumberViewModel
@{
    ViewBag.Title = "Perfil";
    ViewBag.SubTitle = "Verificar número de telefone";
}

<div class="row">
    <div class="col-md-6">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Entre com o código de verificação</h3>
            </div>
            @using (Html.BeginForm("VerifyPhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("phoneNumber", @Model.PhoneNumber)
                <h5>@ViewBag.Status</h5>
                <div class="box-body">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Code, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="submit" class="btn btn-default" value="Submit" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Bundle/AdminLTE/plugins/jquery-validate/js")
}