@model IEnumerable<JOB.WEB.Models.OfertaViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_OFERTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_USUARIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DT_INCLUSAO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DT_JOB)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_OFERTA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_USUARIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DT_INCLUSAO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DT_JOB)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=.PrimaryKey */}) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            </td>
        </tr>
    }        
</table>
